interfaces:
- name: {{ .InterfaceName }}
  type: ethernet
  state: up
  ipv4:
    enabled: false
  ipv6:
    enabled: false
- name: br-ex
  type: ovs-bridge
  state: up
  ipv4:
    enabled: false
    dhcp: false
  ipv6:
    enabled: false
    dhcp: false
  bridge:
    options:
      mcast-snooping-enable: true
    port:
    - name: {{ .InterfaceName }}
    - name: br-ex
- name: br-ex
  type: ovs-interface
  state: up
  copy-mac-from: {{ .InterfaceName }}
  ipv4:
    enabled: {{ .IPv4.Enabled }}
    dhcp: {{ .IPv4.DHCPEnabled }}{{ if .IPv4.Enabled }}
    address:
    - ip: {{ .IPv4.Address }}
      prefix-length: {{ .IPv4.PrefixLen }}
    auto-route-metric: 48{{ end }}
  ipv6:
    enabled: {{ .IPv6.Enabled }}
    dhcp: {{ .IPv6.DHCPEnabled }}{{ if .IPv6.Enabled }}
    address:
    - ip: {{ .IPv6.Address }}
      prefix-length: {{ .IPv6.PrefixLen }}
    auto-route-metric: 48{{ end }}
{{- if or .IPv4.Gateway .IPv6.Gateway .IPv4.DNSServer .IPv6.DNSServer }}
routes:
  config:
  {{- if .IPv4.Gateway }}
  - destination: 0.0.0.0/0
    next-hop-interface: br-ex
    next-hop-address: {{ .IPv4.Gateway }}
    metric: 100
    table-id: 254
  {{- end }}
  {{- if .IPv6.Gateway }}
  - destination: ::/0
    next-hop-interface: br-ex
    next-hop-address: {{ .IPv6.Gateway }}
    metric: 1024
    table-id: 254
  {{- end }}
dns-resolver:
  config:
    server:
    {{- if .IPv4.DNSServer }}
    - {{ .IPv4.DNSServer }}
    {{- end }}
    {{- if .IPv6.DNSServer }}
    - {{ .IPv6.DNSServer }}
    {{- end }}
{{- end }}